/* CustomSidebar.css */

/* Sidebar Container */
.pro-sidebar {
    background-color: indigo; /* Purple background */
    color: #dfe6e9; /* Light text color */
    width: 250px;
    height: 100vh;
    box-shadow: 2px 0px 5px rgba(13, 2, 77, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
  }
  
  /* Sidebar Title */
  .sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    /* background-color: #4834d4;  */
    color: #ffffff; /* White text */
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Menu and Menu Items */
  .pro-sidebar .menu-item {
    padding: 12px;
    text-align: left;
    font-size: 16px;
    color: #dfe6e9; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .pro-sidebar .menu-item:hover {
    background-color: #a29bfe; /* Lighter purple on hover */
    color: #2d3436; /* Darker text for contrast */
  }
  
  .pro-sidebar .active {
    background-color: #4834d4; /* Light purple for active item */
    color: #2d3436; /* Darker text for active item */
  }
  
  .pro-sidebar .menu-item a {
    color: inherit;
    text-decoration: none;
    /* display: block; */
    padding: 10px;
  }
  
  /* Icons */
  .pro-sidebar .menu-item .icon {
    color: #ffffff; /* White icons */
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .pro-sidebar .menu-item:hover .icon {
    color: #2d3436; /* Dark icons on hover */
  }
  
  .pro-sidebar .submenu .menu-item {
    padding-left: 40px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .pro-sidebar {
      width: 60px; /* Narrower sidebar on small screens */
    }
  
    .pro-sidebar .menu-item {
      font-size: 14px;
    }
  }
  